__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.env
*.venv
.env
.venv/
instance/
.webassets-cache
*.pid
*.swp
*.swo
*.bak
*.orig
*.DS_Store
*.coverage
*.egg-info/
dist/
build/
*.egg
*.manifest
*.spec
*.py[cod]
*.so
*.dylib
*.bin
*.dll
*.lock
*.log
*.msg
*.rej
*.sublime-project
*.sublime-workspace
*.idea/
.vscode/